---
- name: "Install and configure Elasticsearch"
  hosts: elastic
  become: yes
  gather_facts: yes
  vars_files:
    - vault/vault.yml
    - vars/elastic.yml

  tasks:
    - name: "Add Elasticsearch GPG key"
      apt_key:
        url: "https://artifacts.elastic.co/GPG-KEY-elasticsearch"
        state: present

    - name: "Add Elasticsearch repository"
      apt_repository:
        repo: "deb https://artifacts.elastic.co/packages/{{ elasticsearch_version }}/apt stable main"
        state: present
        filename: elasticsearch
        update_cache: yes

    - name: "Install Elasticsearch"
      apt:
        name: elasticsearch
        state: present

    - name: "Configure Elasticsearch"
      template:
        src: elasticsearch.yml.j2
        dest: /etc/elasticsearch/elasticsearch.yml
        owner: root
        group: elasticsearch
        mode: '0640'
      notify: restart elasticsearch

    - name: "Configure JVM heap size"
      lineinfile:
        path: /etc/elasticsearch/jvm.options.d/heap.options
        line: "{{ item }}"
        create: yes
      loop:
        - "-Xms{{ elasticsearch_heap_size }}"
        - "-Xmx{{ elasticsearch_heap_size }}"
      notify: restart elasticsearch

    - name: "Start and enable Elasticsearch"
      systemd:
        name: elasticsearch
        state: started
        enabled: yes

    - name: "Wait for Elasticsearch to be ready"
      wait_for:
        port: 9200
        host: "{{ ansible_default_ipv4.address }}"
        delay: 10
        timeout: 60

    - name: "Verify Elasticsearch is running"
      uri:
        url: "http://localhost:9200"
        method: GET
      register: es_status
      retries: 5
      delay: 5

    - name: "Show Elasticsearch info"
      debug:
        msg: |
          Elasticsearch is running
          Hostname: {{ ansible_hostname }}
          Internal DNS: {{ ansible_hostname }}.ru-central1.internal
          Version: {{ es_status.json.version.number }}
          Access from Kibana: http://vm-yc-elk01.ru-central1.internal:9200

  handlers:
    - name: restart elasticsearch
      systemd:
        name: elasticsearch
        state: restarted