filebeat.inputs:
- type: filestream
  enabled: true
  paths:
    - {{ filebeat_log_path }}
  tags: {{ filebeat_tags }}

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

output.elasticsearch:
  hosts: ["10.0.3.20:9200"]
  protocol: "http"
  enabled: true

setup.kibana:
  host: "http://vm-yc-kib01.ru-central1.internal:5601"

logging.level: info
logging.to_files: true
logging.files:
  path: /var/log/filebeat
  name: filebeat
  keepfiles: 7